
@import './variables';
$recover_pallette: $clr-dgreen;
$login_pallette: $clr-blue;
$register_pallette: $clr-purple;


@mixin start-screen-color-scheme ($background_color) {
    transition: 0.5s; 
    height: 100%;
    background-color: $background_color;
    @include flexbox(column, nowrap, center, center);

    .btn {
        white-space: nowrap;
    }

    .btn-go.btn {
        min-width: 80px;
        border-radius: 20px;
        color: $clr-white;
        background-color:$background_color;
        box-shadow: 0px 5px 10px rgba($clr-dark,0.5);
        transform: translateY(-3px);
        transition: 0.4s;
    }
    
    .btn-go.btn:hover{
        color: $clr-white;
        background-color: darken($background_color, 20);
        transform: translateY(0px);
        box-shadow: 0px 5px 10px rgba($background_color,0.7) ;
    }

    .start_title{
        color: lighten($color: $background-color, $amount: 10);
        text-align: center;
        margin: 0;
    }

    .start-card.card{  
        box-shadow: rgba($clr-dark, 0.445) 0px 4px 12px;
        min-width: 300px;
        width: 100%;
        max-width: 500px;
    }
}

@mixin start-button-color-scheme ($background_color) {
    .btn-start-mode.btn {
        min-width: 140px;
        transition: 0.5s;
        border-radius: 20px;
        color: $clr-white;
        background-color: $background_color;
    }

    .btn-start-mode.btn:hover {
        color: white;
        background-color: darken($background_color, 10);
    }

    @include flexbox(row);
    margin-top: 20px;

    .left{
        width: 50%
    }
    .right{
        width: 50%;
        text-align: right;
    }
}

.options_container_login{
    @include start-button-color-scheme($register_pallette ...);
}

.options_container_register{
    @include start-button-color-scheme($login_pallette ...);
}

.options_container_recover{
    @include start-button-color-scheme($login_pallette ...);
}

.start_bg_login{
    @include start-screen-color-scheme($login_pallette ...);
    
}

.start_bg_register{
    @include start-screen-color-scheme($register_pallette ...)
}

.start_bg_recover{
    @include start-screen-color-scheme($recover_pallette ...)
}

.recover_password.btn:first-child{
    background: none;
    border: none;
    color: $clr-red;
    text-decoration: underline;
    transition: 0.5s;
}

.recover_password.btn:first-child:hover{
    color: darken($clr-red, 50);
    background: none;
}

.recover_container{
    @include flexbox(column, nowrap, center, center);
}
.form{
    width: 100%;
    max-width: 500px;
    @include flexbox(column, nowrap, '', center);
    
}

.start-big-title{
    color: $clr-white;
    z-index: 1;
}

.start-error-text{
    text-align: center;
    color: $clr-red;
    max-width: 300px;
}

.start-feedback-text{
    text-align: center;
    color: $clr-blue;
    max-width: 300px;
}

.send_registration{
    height: 100%;
    white-space: nowrap;
    // @include border-radius($border-radius, 0);
}

.error-container{
    @include flexbox(row, '', center)
}

.input_start{
    width: 100%;
}


.input-separation-start{
    margin: 20px 0;
}

@keyframes appear_bg {
    0% {filter: blur(5px)opacity(0%);}
    50% {filter: blur(5px)opacity(0%);}
    100%{filter: blur(5px)opacity(30%);}
}

.bg-carousel.carousel{
    animation-name: appear_bg;
    animation-duration: 2s;
    position: absolute;
    filter: blur(5px)opacity(30%);
}