
@import '~bootstrap/scss/bootstrap.scss';
@import './pages/styles/variables';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');* {
    box-sizing: border-box;
}

$light-mode: $clr-dark, $clr-white;
$dark-mode: $clr-white, $clr-dark;

@mixin color-scheme ($text_color, $background_color) {
    .text {
        color: $text_color;
        font-weight: map-get($map: $font-weights, $key: normal);
    }
    background-color: $background_color;    
    height: 100%;
}

body, html, #root {
    height: 100%;
}

p{
    margin: 0;
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.dark-theme{
    @include color-scheme($dark-mode ...);  
}

.light-theme{
    @include color-scheme($light-mode ...);
}

h1{
    font-size: 64px;
    font-weight: map-get($map: $font-weights, $key: bold);
}

h2{
    font-size: 32px;
    font-weight: map-get($map: $font-weights, $key: bold);
}

h3{
    font-size: 28px;
    font-weight: map-get($map: $font-weights, $key: bold);
}

p{
    font-size: 16px;
    font-weight: map-get($map: $font-weights, $key: normal);
}

label {
    font-weight: map-get($map: $font-weights, $key: normal);
    opacity: 100%;
}
